div.sideload {
    background-color: lightblue;
    width: 200px;
    height: 700px;
    overflow: scroll;
    position: fixed;
    top: 0;
    right: 0;
}



#container {
    background-color: rgba(0, 0, 0, 0.1);
    border-style: none;
    width: 1800px;
    height: 1800px;
}

 

  #drag-items img {
    height: 100px;
  }

.image {
    display: inline;
}

.side {
    display: flex;
    position: fixed;
    width: 320px;
    height: 700px;
    top: 0;
    right: 0;
}